#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #e2e1e1;
}

.calendar {
  width: 500;
}

.section-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
}

.dropdown-hour {
  height: 2.2rem;
  justify-content: center;
  align-items: center;
}

.p-day {
  font-size: 13;
  font-weight: 700;
}

.box-day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.ds-none {
  display: none;
}

.ds-flex {
  display: flex;
}
.btn-user {
  width: 100%;
}