#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calendar {
  width: 500;
}

.section-main {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}